[submodule "foreign/libbsmp"]
	path = foreign/libbsmp
	url = https://github.com/lnls-dig/libbsmp.git
[submodule "foreign/pcie-driver"]
	path = foreign/pcie-driver
	url = https://github.com/lnls-dig/fpga_pcie_driver.git
[submodule "foreign/libmdp"]
	path = foreign/libmdp
	url = https://github.com/lnls-dig/majordomo.git
