# Text editors swap/temporary files
*~
*.swp
*.orig
*.bak
*.o

# Dependency files
*.d         # Ignore all dependency files

# Compiled python files
*.pyc

# Reports
valgrind_report.txt

# Libraries
*.a
*.so

# Gradle local cache and output directory
.gradle
build

# Directory for temporary files
tmp

# Directories of project dependencies
czmq
libsodium
libzmq
malamute
