[submodule "majordomo"]
	path = majordomo
	url = https://github.com/lerwys/majordomo.git
[submodule "foreign/libbsmp"]
	path = foreign/libbsmp
	url = https://github.com/lerwys/libbsmp.git
[submodule "foreign/pcie-driver"]
	path = foreign/pcie-driver
	url = https://github.com/lerwys/fpga_pcie_driver.git
