[submodule "foreign/libbsmp"]
	path = foreign/libbsmp
	url = https://github.com/lerwys/libbsmp.git
[submodule "foreign/pcie-driver"]
	path = foreign/pcie-driver
	url = https://github.com/lerwys/fpga_pcie_driver.git
[submodule "foreign/libmdp"]
	path = foreign/libmdp
	url = https://github.com/lerwys/majordomo.git
[submodule "foreign/bpm-sw-cli"]
	path = foreign/bpm-sw-cli
	url = https://github.com/henrique-silva/bpm-sw-cli.git
