#   BPM-SW configuration file

# Device manager configurations
dev_mngr
    broker
        bind = tcp://127.0.0.1:9999
    log
        dir = /media/remote_logs
        filename = dev_mngr.log
    verbose = 1             # Ask for a trace
    daemonize = no          # Ask for daemonize process (options are: yes or no)
    spawn_broker = no       # Ask to spawn broker (options are: yes or no)

# Device I/O configurations
dev_io
    board0
        bpm0
            dbe
            afe
                bind =
        bpm1
            dbe
            afe
                bind =
    board1
        bpm0
            dbe
            afe
                bind =
        bpm1
            dbe
            afe
                bind =
    board2
        bpm0
            dbe
            afe
                bind =
        bpm1
            dbe
            afe
                bind =
    board3
        bpm0
            dbe
            afe
                bind =
        bpm1
            dbe
            afe
                bind =
    board4
        bpm0
            dbe
            afe
                bind =
        bpm1
            dbe
            afe
                bind =
    board5
        bpm0
            dbe
            afe
                bind =
        bpm1
            dbe
            afe
                bind =
