[Unit]
Description=HALCS server instance %I
After=network-online.target
Wants=network-online.target
PartOf=halcs@%i.target

[Service]
EnvironmentFile=/etc/sysconfig/halcs-board
ExecStartPre=/bin/mkdir -p /media/remote_logs
ExecStart=/usr/local/bin/halcsd -f /usr/local/etc/halcs/halcs.cfg -n fe -t eth -i %i -b ipc:///tmp/malamute -l /media/remote_logs
WorkingDirectory=/usr/local/bin
TimeoutStopSec=2

[Install]
RequiredBy=halcs-fe-ioc@%i.service
WantedBy=halcs@%i.target
