[Unit]
Description=BPM-SW server
After=network-online.target
Wants=network-online.target
After=media-remote_logs.mount
Requires=media-remote_logs.mount

[Service]
ExecStart=/usr/local/bin/dev_mngr -f /usr/local/etc/bpm_sw/bpm_sw.cfg
WorkingDirectory=/usr/local/bin

[Install]
WantedBy=multi-user.target
