[Unit]
Description=BPM-SW server
After=network-online.target
Wants=network-online.target
After=media-remote_logs.mount
Requires=media-remote_logs.mount

[Service]
ExecStart=/usr/local/bin/dev_mngr
WorkingDirectory=/usr/local/bin

[Install]
WantedBy=multi-user.target
