[Unit]
Description=BPM-SW server instance %I
After=network-online.target
Wants=network-online.target
After=media-remote_logs.mount
Requires=media-remote_logs.mount
PartOf=bpm-sw@%i.service

[Service]
EnvironmentFile=/etc/sysconfig/bpm-sw-board
ExecStart=/usr/local/bin/ebpm -f /usr/local/etc/bpm_sw/bpm_sw.cfg -n fe -t eth -i %i -b tcp://127.0.0.1:8978 -l /media/remote_logs
WorkingDirectory=/usr/local/bin
TimeoutStopSec=2

[Install]
RequiredBy=bpm-sw-fe-ioc@%i.service
WantedBy=bpm-sw@%i.service
