[Unit]
Description=BPM-SW server instance %I
After=network-online.target
Wants=network-online.target
After=media-remote_logs.mount
Requires=media-remote_logs.mount
After=bpm-sw-be@%i.service
Wants=bpm-sw-be@%i.service
After=bpm-sw-fe@%i.service
Wants=bpm-sw-fe@%i.service

[Service]
ExecStart=/bin/true
RemainAfterExit=true
