[Unit]
Description=HALCS server instance %I
After=network-online.target
Wants=network-online.target
After=media-remote_logs.mount
Requires=media-remote_logs.mount
PartOf=halcs@%i.target

[Service]
EnvironmentFile=/etc/sysconfig/halcs-board
ExecStart=/usr/local/bin/halcsd -f /usr/local/etc/halcs/halcs.cfg -n be -t pcie -i %i -b tcp://127.0.0.1:8978 -l /media/remote_logs
WorkingDirectory=/usr/local/bin
TimeoutStopSec=2

[Install]
RequiredBy=halcs-be-ioc@%i.service
WantedBy=halcs@%i.target
