[Unit]
Description=HALCS server instance %I
After=network-online.target
Wants=network-online.target
After=malamute.service
Requires=malamute.service
PartOf=halcs@%i.target

[Service]
EnvironmentFile=/etc/sysconfig/halcs-board
Environment=HALCS_LOG_DIR=/var/log/halcs
ExecStartPre=/bin/mkdir -p ${HALCS_LOG_DIR}
ExecStart=/usr/local/bin/halcsd -f /usr/local/etc/halcs/halcs.cfg -n fe -t eth -i %i -b ipc:///tmp/malamute -l ${HALCS_LOG_DIR}
WorkingDirectory=/usr/local/bin
TimeoutStopSec=2

[Install]
RequiredBy=halcs-fe-ioc@%i.service
WantedBy=halcs@%i.target
